@{
}


<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Login</th>
        <th>Bloqueado</th>
        <th>Data de acesso</th>
        <th>Entidade</th>
    </tr>
    </thead>
    <tbody>
    @* @foreach (var usuario in Model) *@
    @* { *@
    @*     <tr> *@
    @*         <td>@usuario.Id</td> *@
    @*         <td>@usuario.Nome</td> *@
    @*         <td>@usuario.Login</td> *@
    @*         <td>@usuario.Bloqueado</td> *@
    @*         <td>@usuario.DataAcesso</td> *@
    @*         <td></td> *@
    @*     </tr> *@
    @* } *@
    </tbody>
</table>

